body{
  font-family: 'Roboto', sans-serif;
}
.header_color{
    display: block;
    background-color: #154360;
    color: hsl(0, 0%, 100%);
    max-width: auto;
    
}
.header_welcome{
    display: block;
    padding:8px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.header_main_div{
    background-color: red;
}

.header_dropdown{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.header_dropdown a{
  padding:5px;
  color:white;
  font-size: 12px;
  text-decoration: none;
}

.header_dropdown a:hover{
  color:red;
  text-decoration: none;
}
.header_dropdown ul li a{
  color:black;
  text-decoration: none;
}


.signup-links a{
  color:white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-top:5px;
}
.signup-links a:hover{
  color:red;
  text-decoration: none;
}
.signup-links li{
  margin-right:5px;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.logo_img{
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  /* max-width: 100%; */
}

@media screen and (max-width: 1200px) {
  .logo_img{
    
    display: block;
    padding:30px;
    text-align: center;
  }
}








.mega-dropdown img{
  position: absolute;
  top: -8px;
  right: 0px;
  height: auto;
  margin-right: 5px;
  text-decoration: none;
}
.dropdown a{
  color: white;
  text-decoration: none;
  padding:10px;
 

}
.category a,strong{
  font-size:13px;
  font-weight: 600px;

}

.dropdown ul li a{
  color: black;
  text-decoration: none;
  padding:5px;
  margin:15px;
  /* display: inline-block; */
  text-decoration: none;

}
.mega-dropdown a:hover{
  color: #FA2C03;
  text-decoration: none;
}
.vertical_bar{

  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  float:left;
  background-color: #FA2C03;
  border-radius: 3px;
}

@media screen and (max-width: 992px) {
  .vertical_bar {
    background-color: transparent;
  }
  .vertical_bar a{
    font-size:13x;
    background-color: transparent;
  }
  
}

.search_icon{display:none}

@media screen and (max-width: 992px) {
  .search_icon {
    
    display: inline-block;
  }
  .search_icon {
    padding:7px;
  }
  
  
}

@media screen and (max-width: 992px) {
  .search_form {
    
    display: none;
  }
  
}
@media screen and (max-width: 1200px) {
  .categories_option {
    display: none;
  }
  
}
@media screen and (max-width: 1200px) {
  .search_field {
    margin-left: 60px;
  }
  
}
@media screen and (max-width: 992px) {
  .refresh_shap {
    
    display: none;
  }
}


@media screen and (max-width: 992px) {
  .heart_shap {
    
    display: none;
  }
  
}
@media screen and (max-width: 1200px) {
  .cart_title {
    
    display: none;
  }
  
}

@media screen and (max-width: 1200px) {
  .cart_value {
    
    display: none;
  }
  
}
@media screen and (max-width: 992px) {
  .shopping {
    height:45px;
    
    margin-right:10px;
    
  }
  
}

form.search_form input[type=text] {
  padding: 10px;
  font-size: 11px;
  border: 1px solid grey;
  width: 60%;
  border: 1px solid #eaeaea;
  background: white;
}

form.search_form select {
  padding: 10px;
  font-size: 13px;
  margin-left: 10px;
  border: 1px solid grey;
  width: 25%;
  border-radius: 3px;
  background: #f1f1f1;
  border:none;
}
form.search_form button[type='submit'] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 10%;
  background: #FA2C03;
  color:white;
  border:none;
  cursor: pointer;
  border-radius: 3px;
}

.cart_info{
    font-size: 28px;
    display: inline;
    cursor: pointer;
}

.cart_info a{
  color:white;
}
.cart_info a:hover{
  color:#FA2C03;
}

.compare_info{
  font-size: 28px;
  display: inline;
  
}
.compare_info a{
  color:white;
}

.compare_info a:hover{
  color:#FA2C03;
}

.shopping_bag_info{
  font-size: 20px;
  display: inline;
  color:white;
  padding:8px;
  
  border-radius: 50%;
  background-color: #FA2C03;
}
.shopping_bag_info a{
  color:white;
  text-align: center;
}

.cart_price_label {
  color:white;
  display: inline;
  margin-left:10px;
}
.cart_price{
  color:white;
  display: inline;
  margin-left:0;
}
.cart_price a{
  color: #FA2C03;
}

.cart_price a:hover{
  text-decoration: none;
}

.top_left_register {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  
}

.top_left_register a{
  padding:5px;
  font-size: 12px;
  color: white;
}

.top_left_register a:hover{
  color:red;
  text-decoration: none;
}
.top_left_register ul li a{
  color:black;
  text-decoration: none;
}











button.openbtn {display: none;}
  
@media screen and (max-width: 992px) {
  button.openbtn {display: block;}
  button.openbtn {
    float:right;
  }
}

@media screen and (max-width: 992px) {
  div.sidebar {display: block;}  
}

@media screen and (max-width: 1200px) {
  div.mega-dropdown {display: none;}
  
}

button.icon {display: none;}
@media screen and (max-width: 992px) {
  button.icon {display: inline-block;}
  button.icon {
    position: relative;
    float: right;
    font-size: 25px;
    cursor: pointer;
    }
}

.nav_left_table{
  border: 1px solid black;
  width: 100%;
}

